[Unit]
Description=Run Newsletter Curator Daily

[Timer]
OnCalendar=*-*-* 06:30:00
Persistent=true
RandomizedDelaySec=10m
AccuracySec=1m
Unit=newsletter-curator.service

[Install]
WantedBy=timers.target
